ul {
    list-style: none;
}
.center {
    margin: auto;
    text-align: center;
  }
  p.indented {
    text-indent: 50px;
  }
  .floatRight {
    float: right;
    padding-left: 20px;
  }
  .floatLeft {
    float: left;
    padding-right: 20px;
  }
